body {
    background: #65b858;
}
.masthead-brand {
    font-size: 8em;
}

#dollar-input {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #00751a;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
}